body{
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
    background-color: #b8b6b6;
}

.overlay {

    background: linear-gradient(rgb(122, 193, 221),rgb(207, 169, 214));
    box-shadow:0px 0px 5px  rgba(0, 0, 0,1);
    position: absolute;
    left: 50%;
    top: 50%;   
    transform: translate(-50%,-50%);
    text-align: center;
    padding: 2%;
    border-radius: 10px;
}
.guessno {
    width: 200px;
    margin-right: 10px;
    background-color: transparent;
    border: black solid 1px;
    outline: none;
    font-size: 18px;
    border-radius: 20px;
    border-color: #5e5e5e;
    padding: 10px;
    text-align: center;
    font-weight: 700;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
}
.check-btn:hover{
    cursor: pointer;
}
.check-btn{
    background: linear-gradient(rgb(241, 214, 219),rgb(22, 49, 201));
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
}

.result{
    color: rgb(11, 70, 59);
    font-size: 15px;
}
.score{
    color: rgb(41, 62, 252);
    font-weight: bold;
}

@media (min-width:300px) and (max-width:700px){
    h1{
        font-size: 24px;
    }
    .guessno{
        width: 50%;
    }
    .overlay{
        width:50%;
    }
    .check-btn{
        margin-top: 15px;
    }
}
@media (min-width:700px) and (max-width:1330px){
    h1{
        font-size: x-large;
    }
    .guessno{
        width: 50%;
    }
    .overlay{
        width:40%;
    }
    .check-btn{
        margin-top: 15px;
    }
}